security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user:
            memory:
                users:
                    '%env(APP_AUTH_USER)%':
                        password: '%env(APP_AUTH_PASSWORD_HASHED)%'
                        roles: ['ROLE_USER']

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            pattern: ^/
            provider: app_user
            form_login:
                login_path: login
                check_path: login
                default_target_path: /
                enable_csrf: true
            logout:
                path: logout
                target: login
            lazy: true

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
